<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_PHP7>
            <version>2.0.1</version>
        </Hackathon_PHP7>
    </modules>
    <global>
        <helpers>
            <php7>
                <class>Hackathon_PHP7_Helper</class>
            </php7>
        </helpers>
        <models>
            <php7>
                <class>Hackathon_PHP7_Model</class>
                <resourceModel>php7_mysql4</resourceModel>
            </php7>
            <core>
                <rewrite>
                    <layout>Hackathon_PHP7_Model_Core_Layout</layout>
                </rewrite>
            </core>
            <importexport>
                <rewrite>
                    <import_uploader>Hackathon_PHP7_Model_ImportExport_Import_Uploader</import_uploader>
                </rewrite>
            </importexport>
            <importexport>
                <rewrite>
                    <export_entity_product_type_configurable>
                        Hackathon_PHP7_Model_ImportExport_Export_Entity_Product_Type_Configurable
                    </export_entity_product_type_configurable>
                </rewrite>
            </importexport>
            <importexport>
                <rewrite>
                    <export_entity_product_type_grouped>
                        Hackathon_PHP7_Model_ImportExport_Export_Entity_Product_Type_Grouped
                    </export_entity_product_type_grouped>
                </rewrite>
            </importexport>
            <importexport>
                <rewrite>
                    <export_entity_product_type_simple>
                        Hackathon_PHP7_Model_ImportExport_Export_Entity_Product_Type_Simple
                    </export_entity_product_type_simple>
                </rewrite>
            </importexport>
            <importexport>
                <rewrite>
                    <export_entity_customer>Hackathon_PHP7_Model_ImportExport_Export_Entity_Customer
                    </export_entity_customer>
                </rewrite>
            </importexport>
            <core>
                <rewrite>
                    <file_uploader>Hackathon_PHP7_Model_Core_File_Uploader</file_uploader>
                </rewrite>
            </core>
            <core_resource>
                <rewrite>
                    <session>Hackathon_PHP7_Model_Core_Resource_Session</session>
                </rewrite>
            </core_resource>
        </models>
        <sales>
            <quote>
                <totals>
                    <msrp>
                        <before>grand_total</before>
                    </msrp>
                    <shipping>
                        <after>subtotal,freeshipping,tax_subtotal,msrp</after>
                    </shipping>
                </totals>
            </quote>
        </sales>
    </global>
</config> 